.Footer i {
  color: white;
  font-size: 2.5vw;
  margin-left: 0.3vw;
}
:global .fa-instagram-square:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
:global .fa-facebook-square:hover {
  color: #1873ea;
}
:global .fa-twitter-square:hover {
  color: #1d9cea;
}
:global .fa-youtube-square:hover {
  color: #f24423;
}
.Footer {
  list-style: none;
  display: flex;
  width: 14vw;
  position: relative;
  left: 42vw;
  margin-top: 7vh;
}
.P{
    color: white;
}