.Cards {
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.829);
  padding: 5vh 5vw;
  flex-flow: column;
}

.P {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2vw;
  /* display: inline-block; */
  margin: auto;
  margin-bottom: 2vh;
  color: white;
  /* text-align: left; */
}
<<<<<<< HEAD
=======

@media (max-width: 768px) {
  .Cards{
    padding: 4vh;
  }

  .P{
    font-size: 7vw;
  }
}
>>>>>>> bc7ec5e6cd585cb1545d92b748a46d91fb39db50
