.Button {
  padding: 1.3vh 1vw;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.7vw;
  background-color: #ec4646;
  border: none;
  cursor: pointer;
  color: white;
  padding: 1.3vh 1vw;
}
.Button:hover,
.Button:active {
  color: #ec4646;
  background-color: white;
  font-size: 1.9vw;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 5vw;
}

.NavItems {
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-direction: row;
}

.NavLink {
  text-decoration: none;
}

.Plus {
  background-color: white;
  color: #ec4646;
}
.Plus:hover,
.Plus:active {
  color: white;
  background-color: #ec4646;
  font-size: 1.9vw;
}
