.Error.Input:focus {
  border-bottom-color: red;
}
.Error {
  border-bottom: none;
  border: 0.2vw solid red;
}

.Input {
  height: 8vh;
  border: none;
  background-color: rgba(0, 0, 0, 0.493);
  border-bottom: 0.2vw solid #ec4646;
  padding: 5vh 1.2vw;
  box-sizing: border-box;
  margin-top: 3vh;
  font-size: 1.8vw;
  color: white;
}
.Input[id="dob"] {
  background-color: rgb(122, 122, 122, 0.493);
  width: 25.5vw;
}
.Input:focus {
  outline: none;
  border-bottom-color: white;
}
.Input::placeholder {
  color: rgb(117, 117, 117);
}
.Input[type="date"] {
  margin-bottom: 4vh;
}

.Label {
  color: white;
  text-align: left;
  box-sizing: border-box;
  font-size: 1.5vw;
  display: block;
  margin-top: 5vh;
}

.validateP {
  font-family: "Alegreya Sans", sans-serif;
  color: rgb(255, 0, 0);
  font-size: 1.2vw;
  text-align: left;
}
