.Form {
  display: inline-flex;
  flex-direction: column;
  margin: auto;
  width: 28vw;
}
:global .fa-angle-left {
  color: black;
  font-size: 2.5vw;
  box-sizing: border-box;
  position: absolute;
  /* bottom: 5vh; */
  left: 63vw;
  top: 20vh;
  /* margin: auto 2vw; */
  padding: 1vh 0.9vw;
  border-radius: 100%;
  background-color: white;
}
:global .fa-angle-left:hover {
  color: #ec4646;
}
.Button {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.8vw;
  background-color: #ec4646;
  border: none;
  cursor: pointer;
  color: white;
  padding: 2vh 2vw;
  margin: auto;
  width: 15vw;
  margin-top: 9vh;
  display: inline-block;
  outline: none;
}
.Button:hover,
.Button:active {
  color: #ec4646;
  background-color: white;
  font-size: 2vw;
}
.Select {
  height: 8vh;
  border: none;
  background-color: rgba(0, 0, 0, 0.493);
  border-bottom: 0.2vw solid #ec4646;
  padding: 0vh 1.2vw;
  box-sizing: border-box;
  margin-top: 3vh;
  margin-bottom: 9vh;
  font-size: 1.8vw;
  color: white;
  outline: none;
  width: 25vw;
}
.Select:focus {
  color: black;
  outline: none;
  background-color: #ccc;
}
.Label {
  color: white;
  text-align: left;
  box-sizing: border-box;
  display: block;
  font-size: 1.5vw;
}
.P {
  font-family: "Alegreya Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 2.5vw;
  margin: 0;
  margin-bottom: 2vh;
}
.validateP{
  font-family: "Alegreya Sans", sans-serif;
  color: rgb(255, 0, 0);
  font-size: 1.2vw;
  text-align: left;
  /* position: relative;
  bottom: 10vh; */
}