.Button {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2.5vw;
  background-color: #ec4646;
  border: none;
  cursor: pointer;
  color: white;
  padding: 2vh 10vw;
  margin-top: 0vh;
}
.Button:hover,
.Button:active {
  color: white;
  background-color: black;
  font-size: 3vw;
}

.Content {
  font-family: "Alfa Slab One", cursive;
  font-size: 7vw;
  width: 45vw;
  margin: auto auto 1.2vh auto;
  color: white;
  letter-spacing: 11px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ff0000da;
  text-align: center;
  line-height: 15vh;
}

.Flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
}

.P {
  font-family: "Alegreya Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 2.5vw;
  margin: 0 auto 3vh 0;
}

@media (max-width: 768px) {
  .Button {
    font-size: 9vw;
    padding: 3vh 25vw;
    /* margin-top: 0vh; */
  }
  .Button:hover,
  .Button:active {
    font-size: 8vw;
  }

  .Content {
    font-size: 15vw;
    width: auto;
    margin: auto;
    letter-spacing: 9px;
    -webkit-text-stroke-width: 2px;
    line-height: 10vh;
  }

  .Flex {
    margin-top: 9vh;
  }

  .P {
    font-size: 7vw;
    margin: auto;
    margin-bottom: 4vh;
  }
}
